body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #912b2b;
    margin:0;
    padding:0;
}

.container{
    width:80%;
    margin:auto;
    margin-top:40px;
    background:white;
    padding:30px;
    border-radius:8px;
    box-shadow:0px 0px 10px rgba(0,0,0,0.2);
}

h1{
    text-align:center;
    color:#333;
}

.add-btn{
    display:inline-block;
    background:#28a745;
    color:white;
    padding:10px 15px;
    text-decoration:none;
    border-radius:5px;
}

.add-btn:hover{
    background:#218838;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}

table th{
    background:#4072a8;
    color:white;
    padding:10px;
}

table td{
    padding:10px;
    text-align:center;
}

table tr:nth-child(even){
    background:#f2f2f2;
}

.edit{
    background:#ffc107;
    padding:6px 10px;
    text-decoration:none;
    color:black;
    border-radius:4px;
}

.delete{
    background:#d40015;
    padding:6px 10px;
    text-decoration:none;
    color:white;
    border-radius:4px;
}

form{
    margin-top:20px;
}

input{
    width:100%;
    padding:10px;
    margin-top:5px;
    margin-bottom:15px;
}

button{
    background:#007bff;
    color:white;
    padding:10px 15px;
    border:none;
    border-radius:5px;
}

button:hover{
    background:#0056b3;
}